numpy
pandas
matplotlib
scikit-learn
requests
torchmetrics
torchvision
torchaudio
seaborn
tqdm
ipywidgets
mlxtend
gdown
opencv-contrib-python
caer
torchinfo
# check PyTorch website for installation guide